@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;

}

body,
html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2378b1;
    background-color: #2378b1;
    background-repeat: no-repeat;
    background-size: 99rem;
}

nav {

    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: white;
    width: 5.625rem;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);

}

.logo {

    text-align: center;
    display: flex;
    transition: all 0.5 ease;
    margin: 10px 0 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {

    font-weight: bold;
    padding-left: 20px;
    font-size: 16px;
    text-decoration: uppercase;

}

a {

    position: relative;
    color: rgb(0, 0, 94);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;

}

.fa {

    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;

}

.nav-item {

    position: relative;
    top: 12px;
    margin-left: 10px;

}

a:hover {

    background: #eee;

}

nav:hover {

    width: 15rem;
    transition: all 0.5s ease;

}

.logout {

    position: absolute;
    bottom: 0;

}

input {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    color: rgb(71, 71, 230);
    font-family: 'Kanit', sans-serif;

}

select {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}

#Entrar {
    background-color: #eee;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 15px;
    color: rgb(71, 71, 230);
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    /* Otros estilos para el botón */
}

#Entrar:hover {
    background-color: #b6b6b6;
}


center {
    display: grid;
    place-content: center;
}

.frform{
    display: grid;
    grid-template-columns: repeat(2, 0.2fr);
    padding: mapx;
}

.formulario {
    margin: 50px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    /* Otros estilos para el formulario */
}



*::-webkit-scrollbar {
    height: 10px;
    width: 12px;

}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #dfe9eb;
    border: 2px solid #2D77A9;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2381b1;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #2378b1;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #1e7197;
}

.footer {

    background-color: rgb(70, 148, 212);
    padding: 20px;
    margin-top: 22.9rem;
    align-items: center;
    text-align: center;

}
table {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    border-collapse: collapse;
    margin-left: 5.625rem;
}

tr {
    background-color: rgb(201, 201, 201);
}

th,
td {

    border: 1px solid #ffffff;
    text-align: left;
    padding: 5px;
}

* tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pagination-button {
    display: inline-block;
    padding: 4px 8px;
    margin: 2px;
    width: 30px;
    background-color: #e0e0e0;
    text-decoration: none;
    border: 1px solid #888;
    border-radius: 5px;
}

.custom-table {
    border-collapse: collapse;
    width: 15%;
    margin: 20px;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: center;
}